footer {
  font-size: 0.9rem;
  font-family: "Pacifico";
  text-align: center;
  padding: 0.5rem;
  color: #000000;
  top: 0;
  background-color: lightgray;
  position: sticky;
}

a:visited {
  color: rgb(15, 14, 14);
}
